#map {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border-style: inset;
  z-index: 0;
}

#slider {
  position: absolute;
  top: 20px;   /* Distance from the top */
  right: 20px; /* Distance from the right */
  z-index: 10000;
  width: 150px; /* Adjust the width of the slider as needed */
  cursor: pointer;
}

.map-buttons {
  position: absolute;
  right: 20px;
  top: 70px; /* Adjust this to position the buttons below the slider */
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 12px; /* Space between buttons */
}

.button {
  background-color: #D08C67;
  border: none;
  color: #000000;
  padding: 12px 54px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Georgia, serif;
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.dropdown-content a {
  font-size: 18px;
  font-family: Georgia, serif;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: left;

}

.button a {
  color: #000000;
  text-decoration: none;
}

.button:hover {
  color: #000000;
  text-decoration: none;
  background-color: #f5ede6;
}

.dropbtn {
  background-color: #D08C67;
  color: #000000;
  padding: 12px 20px;
  font-size: 20px;
  font-family: Georgia, serif;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.dropbtn:hover {
  background-color: #f5ede6;
}

.dropdown:hover .dropbtn {
  background-color: #f5ede6;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 10px 20px;
  background-color: #ffffff;
  font-size: 20px;
  font-family: inherit;
  color: #000000;
  min-width: 205px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  right: 0;
}

.dropdown-content:hover {
  background-color: #f5ede6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.leaflet-popup-content {
font-size: 13;
maxWidth: auto !important;
}
