#map {
  position: relative;
  width: 100vw;
  height: 98vh;
  margin: 0;
  padding: 0;
  border-style: solid;
  z-index: 0;
}

#tile_slider {
  position: absolute;
  top: 20px;   /* Distance from the top */
  right: 20px; /* Distance from the right */
  z-index: 10000;
  width: 150px; /* Adjust the width of the slider as needed */
  cursor: pointer;
}

.map-buttons {
  position: absolute;
  right: 20px;
  top: 70px; /* Adjust this to position the buttons below the slider */
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 12px; /* Space between buttons */
}

.button {
  background-color: #D08C67;
  border: none;
  color: #000000;
  padding: 12px 54px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Georgia, serif;
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.button a {
  color: #000000;
  text-decoration: none;
}

.button:hover {
  color: #000000;
  text-decoration: none;
  background-color: #f5ede6;
}

.leaflet-popup-content {
font-size: 13;
maxWidth: auto !important;
}
