body {
  font-family: Arial, sans-serif;
}

.popup {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0px;
  padding: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  max-width: 70%;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.close-btn {
  border: none;
  background-color: #099b17;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #ffffff;
  background-color: #afafaf;
  text-decoration: none;
  cursor: pointer;
}
